@using Geta.EmailNotification
@model EmailNotificationRequest
<html>
<body>
    <p>Sent: @ViewBag.Date</p>
    <p>
        Dear @Model.To.First().Address
    </p>
    <p>
        <a href="www.google.com">This is a link</a>
    </p>
    <p>
        <img src="https://picsum.photos/id/237/200/300" alt="Sample image" />
    </p>
    @if (Model.ViewData != null)
    {
        <div>@foreach (var kvpair in @Model.ViewData)
             {
                 <p>@kvpair.Key ---- @kvpair.Value</p>
             }
        </div>
    }
</body>
</html>
